In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Jupyter_notebook\PandasCourse\data\ev_charging_stations_2025PL.csv")
df.head()

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
0,460199,LIDL Supermarket,Międzyzdroje,PL,Zachodniopomorskie,53.924665,14.447102,1,60.0,DC_FAST_(50-149kW),True
1,460080,Poznan Plaza,Poznan,PL,wielkopolska,52.441054,16.918287,1,22.0,AC_HIGH_(22-49kW),False
2,459865,Parking Zawoja Markowa,Zawoja,PL,Małopolska,49.608836,19.517376,2,11.0,AC_L2_(7.5-21kW),False
3,312711,Centrum Medyczne Biale Blota,Biale Blota,PL,NaN,53.096373,17.903860,1,22.0,AC_HIGH_(22-49kW),False
4,312658,MOP Leonia,Leonia,PL,NaN,52.151670,18.456792,2,150.0,DC_ULTRA_(>=150kW),True

In [3]:
len(df) # количество строк в датафрейме

461

In [4]:
df[['country_code', 'city']].head()

  country_code          city
0           PL  Międzyzdroje
1           PL        Poznan
2           PL        Zawoja
3           PL   Biale Blota
4           PL        Leonia

In [5]:
df.info()
df.shape
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              461 non-null    int64
 1   name            461 non-null    object
 2   city            451 non-null    object
 3   country_code    461 non-null    object
 4   state_province  281 non-null    object
 5   latitude        461 non-null    float64
 6   longitude       461 non-null    float64
 7   ports           461 non-null    int64
 8   power_kw        452 non-null    float64
 9   power_class     461 non-null    object
 10  is_fast_dc      461 non-null    bool
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 36.6+ KB

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
0,460199,LIDL Supermarket,Międzyzdroje,PL,Zachodniopomorskie,53.924665,14.447102,1,60.0,DC_FAST_(50-149kW),True
1,460080,Poznan Plaza,Poznan,PL,wielkopolska,52.441054,16.918287,1,22.0,AC_HIGH_(22-49kW),False
2,459865,Parking Zawoja Markowa,Zawoja,PL,Małopolska,49.608836,19.517376,2,11.0,AC_L2_(7.5-21kW),False
3,312711,Centrum Medyczne Biale Blota,Biale Blota,PL,NaN,53.096373,17.903860,1,22.0,AC_HIGH_(22-49kW),False
4,312658,MOP Leonia,Leonia,PL,NaN,52.151670,18.456792,2,150.0,DC_ULTRA_(>=150kW),True

In [6]:
katowice_df = df[df['city'] == 'Katowice']
katowice_df.head()

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
52,213400,Polenergia - Mickiewicza 29,Katowice,PL,Silisian Voiodeship,50.263235,19.014078,3,150.0,DC_ULTRA_(>=150kW),True
88,188335,Tauron Fabryka Porcelany,Katowice,PL,Silisian Voiodeship,50.254411,19.061504,4,22.0,AC_HIGH_(22-49kW),False
89,188310,Henryka Mikołaja Góreckiego,Katowice,PL,Silisian Voiodeship,50.265839,19.029147,6,50.0,DC_FAST_(50-149kW),True
90,185538,Tadeusza Kościuszki 169,Katowice,PL,Silisian Voiodeship,50.232217,18.997642,2,22.0,AC_HIGH_(22-49kW),False
91,176321,Klasztor Franciszkanów,Katowice,PL,Silisian Voiodeship,50.226637,18.964111,2,11.0,AC_L2_(7.5-21kW),False

In [7]:
katowice_df.count()

id                25
name              25
city              25
country_code      25
state_province    25
latitude          25
longitude         25
ports             25
power_kw          25
power_class       25
is_fast_dc        25
dtype: int64

In [8]:
Warszawa_df = df[df['city'] == 'Warszawa']
Warszawa_df.head()

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
51,295782,GreenWay Elektrownia Powiśle,Warszawa,PL,Mazowieckie,52.241001,21.026084,2,140.0,DC_FAST_(50-149kW),True
155,131372,Greenway Polska Wola Park,Warszawa,PL,Mazowieckie,52.241245,20.929083,1,50.0,DC_FAST_(50-149kW),True
413,256008,Ekoen Warszawa P14,Warszawa,PL,Mazowieckie,52.177988,20.997359,6,350.0,DC_ULTRA_(>=150kW),True
414,193148,Sheraton Grand Warsaw,Warszawa,PL,Mazowieckie,52.228206,21.025678,2,11.0,AC_L2_(7.5-21kW),False
415,130765,Greenway Atrium Promenada,Warszawa,PL,Mazowieckie,52.231200,21.105718,1,50.0,DC_FAST_(50-149kW),True

In [9]:
Warszawa_df.count()

id                38
name              38
city              38
country_code      38
state_province    38
latitude          38
longitude         38
ports             38
power_kw          36
power_class       38
is_fast_dc        38
dtype: int64

In [10]:
df["city"].unique()

array(['Międzyzdroje', 'Poznan', 'Zawoja', 'Biale Blota', 'Leonia',
       'Międzywodzie', 'Jelenia Góra', 'Gliwice', 'Pustkowo', 'Wrocław',
       nan, 'Ząbki', 'Białystok', 'Lublin', 'Zgierz', 'Szczecin',
       'Stettin', 'Skawina', 'Radomsko', 'Nowogard', 'Zawóz', 'Toruń',
       'Godzieszów', 'Radzyń Podlaski', 'Kraków', 'Jarkowo', 'Świecko',
       'Olsze', 'Jędrzychowice', 'Nowostawy Dolne', 'Kaszewy Kościelne',
       'Legnica', 'Lubin', 'Żukowice', 'Łódź', 'Kielce',
       'Uherce Mineralne', 'Guzew', 'Strzelno', 'Warszawa', 'Katowice',
       'Biłgoraj', 'Tarnów', 'Zielonki', 'Gdynia', 'Bydgoszcz', 'Warsaw',
       'Opole', 'Pisz', 'Zielona Góra', 'Ciechanów', 'Jaśkowice',
       'Łączyn', 'Suchedniów', 'Olkusz', 'Iłowa', 'Drwęck', 'Koronowo',
       'Szklarska Poręba', 'Bezirk Lodzki', 'Warschau', 'Bialystok',
       'Rybnik', 'Góra Libertowska', 'Radom', 'Młyny', 'Syców',
       'Słupia pod Bralinem', 'Charzykowy', 'Lućmierz', 'Łomża',
       'Rajgród', 'Pawliki', 'Szklarska Poreba', 'Sosnowka', 'Gnilec',
       'Sosna', 'Gorzów Wielkopolski', 'Sędzinko', 'Zalesie', 'Poznań',
       'Tulce', 'Krzyżowniki', 'Bolków', 'Lądek-Zdrój', 'Kościerzyna',
       'Straszyn', 'Świecie', 'Dąbrowa Górnicza', 'Jaworzno',
       'Wierzchosławice', 'Kraśnik', 'Rzeszów', 'Trzebownisko', 'Gniew',
       'Zakopane', 'Nowa Sól', 'Lgota', 'Zgorzelec', 'Brzozie',
       'Piaseczno', 'Grajewo', 'Trzebiel', 'Torzym', 'gmina Wieliczka',
       'Konin', 'Kalisz', 'Sieradz', 'Gdańsk', 'Września', 'Wysogotowo',
       'gmina Nisko', 'gmina Łomianki', 'Bielsko-Biała', 'Węgrów',
       'Delnoslaskie', 'Sucha Górna', 'powiat dzierżoniowski',
       'Bielany Wrocławskie', 'bielany wrocławskie', 'wrocław',
       'Młodoszowice gm. Grodków', 'gmina Krapkowice', 'Łaziska', 'Żory',
       'Knurów', 'Tychy', 'Pyrzowice', 'Częstochowa', 'Bytom',
       'Sosnowiec', 'Piaski', 'Modlniczka', 'Suwałki', 'Ostróda', 'Ryki',
       'Garwolin', 'Chromna', 'Ostrów Mazowiecka', 'wyszków', 'Mława',
       'Wolica', 'Pruszków', 'Gmina Łomianki', 'Sucha', 'Dalanówek',
       'Wiślina', 'Pikutkowo', 'Stryków', 'Bełchatów',
       'Smętowo Graniczne', 'Darlowo', 'Karpacz', 'Grudziądz',
       'Rymanow Zdroj', 'Gdansk', 'Miedzyzdroje', 'Paczoltowice',
       'Krakow', '31-106', 'Gizycko', 'Szczawnica', 'Krzyżanówek',
       'Łyszkowice', 'Siewierz', 'Płock', 'Grodzisk Mazowiecki',
       'Olsztyn', 'Henkenhagen', 'Lomnica', 'Rytro', 'Kazimierz Dolny',
       'Chocholow', 'Polanica-Zdroj', 'Ostroda', 'Rzyki', 'Krynica-Zdroj',
       'Grodek nad Dunajcem', 'Ciechocinek', 'Uniejów', 'Swinoujscie',
       'Szprotawa', 'Wroclaw', 'Swieradow Zdroj', 'Choszczno', 'Katovice',
       'gmina Kartuzy', 'Stary Sącz', 'Jozefow', 'Prusim', 'Kolobrzeg',
       'Karlino', 'Białogard', 'Dźwirzyno', 'Wisła', 'Poznaň',
       'Vratislav', 'Krakov', 'Jasionka', 'Sucha Beskidzka',
       '82-300 Elbląg', 'Lidzbark Warmiński', 'Rzeczna', 'Kuźnica',
       'Boleslawiec', 'gmina Władysławowo', 'Kikół', 'Głodowo',
       'Kamień Kotowy', 'Wężyki', 'gmina Lubień Kujawski', 'Otłoczyn',
       'Działowo', 'Sopot', 'Słupsk', 'Mielno', 'Kostomłoty', 'Elbląg',
       'Długołęka'], dtype=object)

In [11]:
fixes = {
    "warzawa": "Warszawa",
    "wraszawa": "Warszawa",
    "warsaw": "Warszawa",
    "gdansk": "Gdańsk",
    "krakow": "Kraków",
    "lodz": "Łódź",
    "Crakow": "Kraków",
    "katowicee": "Katowice",
    "poznan": "Poznań",
    "szczecin": "Szczecin",
    "wroclaw": "Wrocław",
    "Katovice": "Katowice",
    "Warsaw": "Warszawa"        # добавь сюда свои ошибки
}

df["city"] = (
    df["city"]
        .str.strip()
        .str.title()
        .replace(fixes)
)

In [12]:
df_pl_sorted = df.sort_values(by="city") # сортировка по городу
df_pl_sorted.head()

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
255,113870,Metropolis Design Hotel,31-106,PL,Krakow,50.057340,19.927252,1,22.0,AC_HIGH_(22-49kW),False
350,73329,Stacja BP w Elblągu,82-300 Elbląg,PL,warmińsko-mazurskie,54.173002,19.405549,4,3.0,AC_L1_(<7.5kW),False
81,162240,Ptak Outlet,Bezirk Lodzki,PL,Bezirk Lodzki,51.646729,19.487180,1,50.0,DC_FAST_(50-149kW),True
239,125906,Miejska i Powiatowa Biblioteka Publiczna PGE,Bełchatów,PL,łódzkie,51.366031,19.368168,2,50.0,DC_FAST_(50-149kW),True
3,312711,Centrum Medyczne Biale Blota,Biale Blota,PL,NaN,53.096373,17.903860,1,22.0,AC_HIGH_(22-49kW),False

In [13]:
df["city"].value_counts()

city
Warszawa      45
Katowice      26
Kraków        21
Wrocław       21
Gdańsk        18
              ..
Słupsk         1
Mielno         1
Kostomłoty     1
Elbląg         1
Długołęka      1
Name: count, Length: 213, dtype: int64

In [14]:
df.columns

Index(['id', 'name', 'city', 'country_code', 'state_province', 'latitude',
       'longitude', 'ports', 'power_kw', 'power_class', 'is_fast_dc'],
      dtype='object')

In [15]:
df["city"].value_counts().head(20)

city
Warszawa               45
Katowice               26
Kraków                 21
Wrocław                21
Gdańsk                 18
Poznań                  9
Gdynia                  8
Szczecin                7
Łódź                    6
Rzeszów                 6
Częstochowa             6
Olsze                   6
Gorzów Wielkopolski     5
Gliwice                 5
Lublin                  5
Zielona Góra            4
Opole                   4
Bielany Wrocławskie     4
Poznan                  4
Białystok               3
Name: count, dtype: int64

In [16]:
# Средняя мощность по городам
avg_power = df.groupby('city')['power_kw'].mean().sort_values(ascending=False)

# Топ-10 городов
print(avg_power.head(10))

city
Jędrzychowice        350.0
Kaszewy Kościelne    350.0
Nowostawy Dolne      350.0
Nowogard             350.0
Świecko              350.0
Skawina              350.0
Ząbki                250.0
Zgierz               250.0
Radomsko             200.0
Leonia               150.0
Name: power_kw, dtype: float64

In [17]:
df.describe().round(2)

              id  latitude  longitude   ports  power_kw
count     461.00    461.00     461.00  461.00    452.00
mean   134978.73     51.86      18.90    2.00     50.69
std     63930.62      1.48       2.11    1.82     67.09
min      9494.00     49.29      14.26    1.00      2.00
25%     89964.00     50.47      17.04    1.00     22.00
50%    130287.00     51.90      19.02    2.00     40.00
75%    161418.00     52.88      20.62    2.00     50.00
max    460199.00     54.78      23.17   14.00    350.00

In [18]:
df['state_province'].unique()

array(['Zachodniopomorskie', 'wielkopolska', 'Małopolska', nan,
       'zachodniopomorskie', 'Gryfice County', 'Dolnośląskie',
       'województwo mazowieckie', 'województwo małopolskie',
       'województwo łódzkie', 'województwo wielkopolskie',
       'województwo zachodniopomorskie', 'Podkarpackie',
       'Powiat Radzyński', 'małopolskie', 'województwo dolnośląskie',
       'Lower Silesian Voivodeship', 'Łódź Voivodeship', 'Legnica',
       'Lubin', 'Głogów', 'podkarpackie', 'Mazowieckie',
       'Silisian Voiodeship', 'Lublin Voivodeship',
       'Pomeranian Voivodeship', 'Kuyavian-Pomeranian Voivodeship',
       'Masovian Voivodeship', 'Opole Voivodeship',
       'Silesian Voivodeship', 'Warmian-Masurian Voivodeship',
       'Lubusz Voivodeship', 'Podlaskie Voivodeship',
       'Świętokrzyskie Voivodeship', 'Malopolskie', 'powiat olsztyński',
       'Bezirk Lodzki', 'Woiwodschaft Masowien', 'Białystok', 'Łomża',
       'Grajewo County', 'powiat jaworski', 'dolnoślaskie', 'Nowa Sól',
       'dolnośląskie', 'Zgorzelec', 'gmina Wieliczka', 'gmina Nisko',
       'gmina Łomianki', 'Bielsko-Biała', 'Poznań', 'Węgrów',
       'gmina Polkowice', 'powiat dzierżoniowski', 'Wrocław',
       'gmina Kobierzyce', 'gmina Krapkowice', 'Żory', 'Częstochowa',
       'Bytom', 'Sosnowiec', 'powiat jarosławski', 'Rzeszów', 'Tarnów',
       'gmina Wielka Wieś', 'Kraków', 'Suwałki', 'Mława',
       'gmina Nadarzyn', 'Pruszków', 'gmina Białobrzegi', 'mazowieckie',
       'pomorskie', 'kujawsko-pomorskie', 'łódzkie', 'śląskie',
       'Zakopane', 'Lodzkie', 'Krakow', 'Pomorskie', 'Kreis Kolberg',
       'Kujawsko-Pomorskie', 'Warszawa', 'Katovice', 'Wielkopolska',
       'gmina Kwilcz', 'powiat kołobrzeski', 'Dolnoslezské vojvodství',
       'Zielona Góra', 'powiat wrocławski', 'Lublin',
       'gmina Trzebownisko', 'Sucha Beskidzka', 'warmińsko-mazurskie',
       'gmina Pasłęk', 'Dolnoslaskie', 'gmina Kikół', 'gmina Lipno',
       'gmina Tłuchowo', 'gmina Rybno', 'Płock', 'gmina Lubień Kujawski',
       'gmina Aleksandrów Kujawski', 'Greater Poland Voivodeship',
       'Velkopolské vojvodství', 'Lesser Poland Voivodeship',
       'malopolskie'], dtype=object)

In [19]:
df.loc[:,['power_kw', 'name', 'power_class', 'is_fast_dc']].value_counts()
# подсчет уникальных комбинаций

power_kw  name                                      power_class         is_fast_dc
50.0      PKN Orlen                                 DC_FAST_(50-149kW)  True          17
100.0     PKN Orlen                                 DC_FAST_(50-149kW)  True          10
22.0      Greenway Polska Ikea Bielany Wrocławskie  AC_HIGH_(22-49kW)   False          2
          Greenway                                  AC_HIGH_(22-49kW)   False          2
50.0      Greenway                                  DC_FAST_(50-149kW)  True           2
                                                                                      ..
3.0       Stacja BP w Elblągu                       AC_L1_(<7.5kW)      False          1
          Stacja Lotos w Karlinie                   AC_L1_(<7.5kW)      False          1
          Stacja Lotos w Kikole                     AC_L1_(<7.5kW)      False          1
          Stacja Orlen w Głodowie                   AC_L1_(<7.5kW)      False          1
250.0     Tesla Supercharger Warsaw                 DC_ULTRA_(>=150kW)  True           1
Name: count, Length: 423, dtype: int64

In [20]:
# Показать уникальные комбинации только для быстрых DC (True)
df[df['is_fast_dc'] == True][['city','power_kw', 'power_class', 'is_fast_dc']].value_counts()

city      power_kw  power_class         is_fast_dc
Warszawa  50.0      DC_FAST_(50-149kW)  True          11
Kraków    50.0      DC_FAST_(50-149kW)  True           6
Rzeszów   50.0      DC_FAST_(50-149kW)  True           6
Wrocław   50.0      DC_FAST_(50-149kW)  True           5
Katowice  50.0      DC_FAST_(50-149kW)  True           4
                                                      ..
Łączyn    50.0      DC_FAST_(50-149kW)  True           1
Świecie   50.0      DC_FAST_(50-149kW)  True           1
Świecko   350.0     DC_ULTRA_(>=150kW)  True           1
Żory      50.0      DC_FAST_(50-149kW)  True           1
Żukowice  50.0      DC_FAST_(50-149kW)  True           1
Name: count, Length: 114, dtype: int64

In [21]:
df.loc[df['is_fast_dc'] == True, ['power_kw', 'power_class']].value_counts()

power_kw  power_class
50.0      DC_FAST_(50-149kW)    111
100.0     DC_FAST_(50-149kW)     15
350.0     DC_ULTRA_(>=150kW)     15
150.0     DC_ULTRA_(>=150kW)      9
250.0     DC_ULTRA_(>=150kW)      6
60.0      DC_FAST_(50-149kW)      2
140.0     DC_FAST_(50-149kW)      2
90.0      DC_FAST_(50-149kW)      2
75.0      DC_FAST_(50-149kW)      2
120.0     DC_FAST_(50-149kW)      2
70.0      DC_FAST_(50-149kW)      1
125.0     DC_FAST_(50-149kW)      1
133.0     DC_FAST_(50-149kW)      1
180.0     DC_ULTRA_(>=150kW)      1
Name: count, dtype: int64

In [25]:
df.groupby(['power_class','is_fast_dc']).size() # подсчет комбинаций

power_class         is_fast_dc
AC_HIGH_(22-49kW)   False         203
AC_L1_(<7.5kW)      False          28
AC_L2_(7.5-21kW)    False          51
DC_FAST_(50-149kW)  True          139
DC_ULTRA_(>=150kW)  True           31
UNKNOWN             False           9
dtype: int64

In [28]:
counts = df.groupby(['power_class', 'is_fast_dc']).size().reset_index(name='count')
counts
# Преобразование в датафрейм

          power_class  is_fast_dc  count
0   AC_HIGH_(22-49kW)       False    203
1      AC_L1_(<7.5kW)       False     28
2    AC_L2_(7.5-21kW)       False     51
3  DC_FAST_(50-149kW)        True    139
4  DC_ULTRA_(>=150kW)        True     31
5             UNKNOWN       False      9

In [23]:
df.sort_values(by=['city', 'power_kw'], ascending=[True, False]).head(20)

,id,name,city,country_code,state_province,latitude,longitude,ports,power_kw,power_class,is_fast_dc
255,113870,Metropolis Design Hotel,31-106,PL,Krakow,50.057340,19.927252,1,22.0,AC_HIGH_(22-49kW),False
350,73329,Stacja BP w Elblągu,82-300 Elbląg,PL,warmińsko-mazurskie,54.173002,19.405549,4,3.0,AC_L1_(<7.5kW),False
81,162240,Ptak Outlet,Bezirk Lodzki,PL,Bezirk Lodzki,51.646729,19.487180,1,50.0,DC_FAST_(50-149kW),True
239,125906,Miejska i Powiatowa Biblioteka Publiczna PGE,Bełchatów,PL,łódzkie,51.366031,19.368168,2,50.0,DC_FAST_(50-149kW),True
3,312711,Centrum Medyczne Biale Blota,Biale Blota,PL,NaN,53.096373,17.903860,1,22.0,AC_HIGH_(22-49kW),False
84,162237,Auchan Białystok Hetmańska,Bialystok,PL,Białystok,53.133945,23.119407,1,40.0,AC_HIGH_(22-49kW),False
85,162236,Auchan Produkcyjna,Bialystok,PL,Białystok,53.160006,23.095650,1,40.0,AC_HIGH_(22-49kW),False
326,79255,Bistro Jajo Białogard,Białogard,PL,zachodniopomorskie,54.009239,15.970775,3,11.0,AC_L2_(7.5-21kW),False
13,303139,Tesla Supercharger Bialystok,Białystok,PL,NaN,53.125324,23.168535,6,250.0,DC_ULTRA_(>=150kW),True
70,172711,10 Marii Skłodowskiej-Curie,Białystok,PL,Podlaskie Voivodeship,53.128319,23.157868,1,50.0,DC_FAST_(50-149kW),True
298,95923,Induce One Headquarters,Białystok,PL,Białystok,53.117196,23.087015,1,22.0,AC_HIGH_(22-49kW),False
175,130317,Greenway Polska Auchan Bielany Wrocławskie,Bielany Wrocławskie,PL,Wrocław,51.053441,16.971320,1,50.0,DC_FAST_(50-149kW),True
176,130316,Greenway Polska Ikea Bielany Wrocławskie,Bielany Wrocławskie,PL,NaN,51.048911,16.956823,2,22.0,AC_HIGH_(22-49kW),False
177,130315,Greenway Polska Ikea Bielany Wrocławskie,Bielany Wrocławskie,PL,gmina Kobierzyce,51.041962,16.949287,2,22.0,AC_HIGH_(22-49kW),False
342,75077,Salon IKEA Galactico,Bielany Wrocławskie,PL,powiat wrocławski,51.047111,16.955648,1,22.0,AC_HIGH_(22-49kW),False
191,130301,Greenway Polska Gemini park Bielsko-Biała,Bielsko-Biała,PL,NaN,49.802704,19.050548,3,50.0,DC_FAST_(50-149kW),True
169,130755,ZIAD S.A. Hotel Dębowiec,Bielsko-Biała,PL,Bielsko-Biała,49.783760,19.027854,2,43.0,AC_HIGH_(22-49kW),False
53,188549,Galeria Biłgorajska,Biłgoraj,PL,Lublin Voivodeship,50.541236,22.723666,1,22.0,AC_HIGH_(22-49kW),False
357,71731,Hotel Ambasada Restaurant Piwnica Paryska,Boleslawiec,PL,Dolnoslaskie,51.259229,15.564534,2,3.0,AC_L1_(<7.5kW),False
115,157587,PGE Nowa Energia Bolków,Bolków,PL,powiat jaworski,50.919449,16.099330,2,11.0,AC_L2_(7.5-21kW),False