In [17]:
import pandas as pd 
import numpy as np

In [18]:
np.random.seed(1) # случайность для воспроизводимости
n = 1000 # количество строк
dates = pd.date_range(start='2050-01-01', periods=n, freq='D') 
# генерация 100 последовательных
products = np.random.choice(['Tablet', 'Camera', 'Smartphone'],n) # выбор из 3 продуктов
prices = np.round(np.random.uniform(50.0, 200.0, n), 2) # цены от 50.0 до 200.0
quantities = np.random.randint(1, 5, n) # количество от 1 до 4

data = { # создание словаря данных
    'Date': dates,
    'Product': products,
    'Price': prices,
    'Quantity': quantities
}
df = pd.DataFrame(data) # создание DataFrame
df

          Date     Product   Price  Quantity
0   2050-01-01      Camera  129.19         4
1   2050-01-02      Tablet  161.01         1
2   2050-01-03      Tablet   72.49         2
3   2050-01-04      Camera  132.66         2
4   2050-01-05      Camera   82.49         3
..         ...         ...     ...       ...
995 2052-09-22      Camera   59.99         4
996 2052-09-23  Smartphone  157.09         2
997 2052-09-24      Camera   99.52         4
998 2052-09-25      Tablet  143.82         2
999 2052-09-26      Camera   88.72         1

[1000 rows x 4 columns]

In [19]:
df.dtypes # проверка типов данных столбцов

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int32
dtype: object

In [20]:
df.to_csv('c:/Jupyter_notebook/PandasCourse/data/random_sales_data.csv', index=False)
# сохранение в CSV файл без индекса