In [55]:
import pandas as pd
import numpy as np

In [56]:
# Создание вложенного списка 
age = [['George', 35, 'Male'], ['Ann', 28, 'Female',], 
['Tom', 32, 'Male'], ['Canthy', 25, 'Female']]

In [57]:
# один из способов создания объекта DataFrame 
# с ранее созданым списком age 
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3  Canthy   25  Female

In [58]:
# Создание двумерного массива с использованием np.array()
org_array = np.array([[23, 46, 85],
                      [43, 56, 99],
                      [11, 34, 55]])
org_array

array([[23, 46, 85],
       [43, 56, 99],
       [11, 34, 55]])

## Series

In [59]:
# Создаем объект Series в переменной s_1
# индексы - по умолчанию представлены объектом RangeIndex (монотонный диапазон целых чисел)
# имя объекта Series не задано
# тип данных Series определен автоматически (object) в момент создания объекта
s_1 = pd.Series(data=['a', 'b', 'c', 'd', 'e'])
s_1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [60]:
# Создаем объект Series в переменной s_2
# задаем index (в результате получаем метки-индексы (labels))
# задаем имя объекта Series
# тип данных Series определен автоматически (int64) в момент создания объекта
s_2 = pd.Series(data=[1,3,5,7,9], index=['one','three','five','seven','nine'], name='odd_numbers')
s_2

one      1
three    3
five     5
seven    7
nine     9
Name: odd_numbers, dtype: int64

In [61]:
# Создаем объект DataFrame в переменной df
age = [['George', 35, 'Male'], ['Ann', 28, 'Female'],
       ['Tom', 32, 'Male'], ['Cathy', 25, 'Female']]
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3   Cathy   25  Female

In [62]:
# cтруктуру Series можно представить как отдельный столбец таблицы
# здесь объект Series - это колонка структуры DataFrame
# данные структуры Series однотипные (int64) - весь ряд представлен в виде целых чисел (int64)
# имя структуры Series - 'Age' - это имя запрошенной колонки структуры DataFrame в переменной df
df['Age']

0    35
1    28
2    32
3    25
Name: Age, dtype: int64

In [63]:
# доступ к элементу структуры Series по целочисленной позиции (1)
s_2.iloc[1]

np.int64(3)

In [64]:
# доступ к элементу структуры Series по метке ('three')
s_2.loc['three']

np.int64(3)

In [65]:
ndarr = np.array([1,2,3,4,5]) # создание одномерного массива NumPy
type(ndarr)

numpy.ndarray

In [66]:
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])
s3 # создание Series из массива NumPy с заданными метками-индексами

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [67]:
d = {'a': 1, 'b': 2, 'c': 3}
s4 = pd.Series(d) # создание Series из словаря
s4

a    1
b    2
c    3
dtype: int64

In [68]:
a = 8
s5 = pd.Series(a, ['a', 'b', 'c', 'd']) # создание Series из скаляра
s5

a    8
b    8
c    8
d    8
dtype: int64

In [69]:
l1 = ['1 значение', '2 значение', '3 значение', '4 значение', '5 значение']
# создание Series из списка с заданными метками-индексами

In [70]:
series1 = pd.Series(l1) # создание Series из списка
series1

0    1 значение
1    2 значение
2    3 значение
3    4 значение
4    5 значение
dtype: object

In [71]:
series1[2] # доступ к элементу Series по целочисленной позиции

'3 значение'

In [72]:
series2 = pd.Series(l1, ['a', 'b', 'c', 'd', 'e'])
 # создание Series из списка с заданными метками-индексами
series2

a    1 значение
b    2 значение
c    3 значение
d    4 значение
e    5 значение
dtype: object

In [76]:
series2[2] # доступ к элементу Series по метке-индексу

C:\Users\fande\AppData\Local\Temp\ipykernel_23080\3340545156.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[2] # доступ к элементу Series по метке-индексу

'3 значение'

In [74]:
series2['c']
# доступ к элементу Series по метке-индексу

'3 значение'