## Stepik - Интерактивный тренажер по SQL

In [6]:
import pandas as pd 
from sqlalchemy import create_engine


engine = create_engine(
    "postgresql://postgres:Alex84032623354!@localhost:5432/postgres"
)

df = pd.read_sql("SELECT * FROM book", engine)
df

   book_id                  title            author   price  amount
0        1     Мастер и Маргарита     Булгаков М.А.  670.99       3
1        2          Белая гвардия     Булгаков М.А.  540.50       5
2        3                  Идиот  Достоевский Ф.М.  460.00      10
3        4      Братья Карамазовы  Достоевский Ф.М.  799.01       3
4        5                  Игрок  Достоевский Ф.М.  480.50      10
5        6  Стихотворения и поэмы       Есенин С.А.  650.00      15
6        7         Евгений Онегин       Пушкин А.С.  610.00      10

In [7]:
df = pd.read_sql("""SELECT author, title, price
FROM book
WHERE price <= (
    SELECT AVG(price)
    FROM book)
ORDER BY price DESC""", engine)
df

             author          title  price
0     Булгаков М.А.  Белая гвардия  540.5
1  Достоевский Ф.М.          Игрок  480.5
2  Достоевский Ф.М.          Идиот  460.0