In [1]:
import pandas as pd
import numpy as np

In [2]:
# Создание вложенного списка 
age = [['George', 35, 'Male'], ['Ann', 28, 'Female',], 
['Tom', 32, 'Male'], ['Canthy', 25, 'Female']]

In [3]:
# один из способов создания объекта DataFrame 
# с ранее созданым списком age 
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3  Canthy   25  Female

In [4]:
# Создание двумерного массива с использованием np.array()
org_array = np.array([[23, 46, 85],
                      [43, 56, 99],
                      [11, 34, 55]])
org_array

array([[23, 46, 85],
       [43, 56, 99],
       [11, 34, 55]])

## Series

In [5]:
# Создаем объект Series в переменной s_1
# индексы - по умолчанию представлены объектом RangeIndex (монотонный диапазон целых чисел)
# имя объекта Series не задано
# тип данных Series определен автоматически (object) в момент создания объекта
s_1 = pd.Series(data=['a', 'b', 'c', 'd', 'e'])
s_1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
# Создаем объект Series в переменной s_2
# задаем index (в результате получаем метки-индексы (labels))
# задаем имя объекта Series
# тип данных Series определен автоматически (int64) в момент создания объекта
s_2 = pd.Series(data=[1,3,5,7,9], index=['one','three','five','seven','nine'], name='odd_numbers')
s_2

one      1
three    3
five     5
seven    7
nine     9
Name: odd_numbers, dtype: int64

In [7]:
# Создаем объект DataFrame в переменной df
age = [['George', 35, 'Male'], ['Ann', 28, 'Female'],
       ['Tom', 32, 'Male'], ['Cathy', 25, 'Female']]
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3   Cathy   25  Female

In [8]:
# cтруктуру Series можно представить как отдельный столбец таблицы
# здесь объект Series - это колонка структуры DataFrame
# данные структуры Series однотипные (int64) - весь ряд представлен в виде целых чисел (int64)
# имя структуры Series - 'Age' - это имя запрошенной колонки структуры DataFrame в переменной df
df['Age']

0    35
1    28
2    32
3    25
Name: Age, dtype: int64

In [9]:
# доступ к элементу структуры Series по целочисленной позиции (1)
s_2.iloc[1]

np.int64(3)

In [10]:
# доступ к элементу структуры Series по метке ('three')
s_2.loc['three']

np.int64(3)