In [8]:
import pandas as pd
import numpy as np

In [4]:
# Создание вложенного списка 
age = [['George', 35, 'Male'], ['Ann', 28, 'Female',], 
['Tom', 32, 'Male'], ['Canthy', 25, 'Female']]

In [7]:
# один из способов создания объекта DataFrame 
# с ранее созданым списком age 
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3  Canthy   25  Female

In [12]:
# Создание двумерного массива с использованием np.array()
org_array = np.array([[23, 46, 85],
                      [43, 56, 99],
                      [11, 34, 55]])
org_array

array([[23, 46, 85],
       [43, 56, 99],
       [11, 34, 55]])